# Ignore all files without extension
*
!*/
!*.*

.vscode/
.idea/
node_modules/
.next/
*.out
*.log
coverage.out
coverage.html
cover.html
PR*.md
pr*.md
claude3.7.sh
dpskv3.sh
.cursorignore
!LICENSE
.kiro
.claude*
CLAUDE.md
*test*.sh
*test*.exp
*test*.py
*.db
.codex
pnpm-lock.yaml
